// Fonts
$font: "Poppins", sans-serif;
$font-thin: 100;
$font-regular: 400;
$font-bold: 700;

// Colors
$background-purple: #1E233B;
$accent-purple: #413B68;
$accent-pink: #FE4769;
$accent-orange: #F47E3E;
$accent-tan: #F5DEB8;
$light-text: #FFFFFF;
$dark-text: $background-purple;

// Sizes:
$xsmall: 4px;
$small: 8px;
$medium: 16px;
$large: 24px;
$xlarge: 36px;
$spacer: 64px;
